body {box-shadow: 5px 5px 5px #828282; 
    background-color: skyblue;
    background-image: radial-gradient(#FFFFFF, skyblue);
    color: white;
    font-family: serif;
}

body a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

body div ul li a {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

h1 {
    text-align: center;
    width: 100%;
    position: fixed;
    text-shadow: 3px 3px 3px #EAEAEA;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.5);
    font-family: sans-serif;
    text-transform: uppercase;
}

h3 {text-align: center;
    margin-top: 50px;
    color: black;
    font-family: sans-serif;
}

.text {
    color: orange;
}

.headername {
    color: black;
}

footer {
    font-size: .5em;
    font-style: italic
}

footer a {
    font-size: inherit;
    font-weight: bold;
    text-decoration: underline;
}

ul {
    list-style-type: disc;
}

div {
    background-image: url(Pictures/EDMTunes-EF.jpg);
    height: 400px;
    width: auto;
}

.gear {
    background-image: url(Pictures/best-camping-gear.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
}

main {
    
    width: 80%;
    text-align: center;
    padding: 10px;
}
.pad {padding-top: 100px;}